    <!-- Light Block -->
    <section class="block container">
      <header class="block__header">
        <h2 class="block__heading">Heading 2</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus laudantium reprehenderit cum exercitationem molestiae dolore reiciendis eius molestias ad cumque.</p>
      </header>
      <div style="width: 30%; padding: 4rem;">
        <div class="card card--primary">
          <header class="card__header">
            Card Title
          </header>
          <div class="card__body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid voluptatem quo accusamus facere illum aut laborum modi incidunt, autem exercitationem!
          </div>
        </div>
      </div>
    </section>
    <!-- Dark Block -->
    <section class="block block--dark block--skewed-left">
      <div class="container">
        <header class="block__header">
          <h2 class="block__heading">Heading 2</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus laudantium reprehenderit cum exercitationem molestiae dolore reiciendis eius molestias ad cumque.</p>
        </header>
      </div>
    </section>