<div style="width: 90%; margin: 10px;">
  <div class="callout callout--primary">
    <div class="grid grid--1x2">
      <div class="callout__content">
        <h2 class="callout__title">
          Ready To Get Started?
        </h2>
        <div class="">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid voluptatem quo accusamus facere illum aut laborum modi incidunt, autem exercitationem!
        </div>
      </div>
        <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
    </div>
  </div>
</div>