<section>
  <header class="block__header">
    <h2 class="block__heading">Host On The Cloud to Keep Growing</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus laudantium reprehenderit.</p>
  </header>

  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <svg class="icon icon-container icon--primary">
        <use xlink:href="images/sprite.svg#easy"></use>
      </svg>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi animi quis voluptatibus facilis fugit, quam eum obcaecati voluptatum totam, sequi fugiat saepe? Laboriosam quis dignissimos nam, aspernatur esse autem, fuga, exercitationem doloremque eos nulla illo illum magni iure eius eveniet ex tempore iusto soluta quae optio dicta quo. Molestias, libero?</p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/webp" srcset="images/easy.webp 1x, images/easy@2x.webp 2x"/>
      <source type="image/jpg" srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"/>
      <img src="images/easy.jpg" alt="Sample graphs of metrics." class="feature__image">
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature__content">
      <svg class="icon icon-container icon--primary">
        <use xlink:href="images/sprite.svg#easy"></use>
      </svg>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi animi quis voluptatibus facilis fugit, quam eum obcaecati voluptatum totam, sequi fugiat saepe? Laboriosam quis dignissimos nam, aspernatur esse autem, fuga, exercitationem doloremque eos nulla illo illum magni iure eius eveniet ex tempore iusto soluta quae optio dicta quo. Molestias, libero?</p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <picture>
      <source type="image/webp" srcset="images/easy.webp 1x, images/easy@2x.webp 2x"/>
      <source type="image/jpg" srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"/>
      <img src="images/easy.jpg" alt="Sample graphs of metrics." class="feature__image">
    </picture>
  </article>
</section>